@model DaOAuthV2.Gui.Front.Models.AskNewPasswordModel

@{
    Layout = "_en.layout";
}

@await Html.PartialAsync("_en.modelErrors")

<h1>Password lost</h1>
<hr />


<form asp-action="AskNewPassword" id="rsForm" method="post">
    <div class="row">
        <div class="col">
            <h3>Please type the email adress</h3>
            If this adress is knew by the system, an email will be send to it

            <div class="form-group">
                <label asp-for="OldPassword" class="control-label">Email adress</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            </div>

        </div>
        <div class="w-100"></div>
        <br />

        <div class="col-12">
            <input id="putForm" type="submit" value="Submit" class="btn btn-lg btn-primary btn-block" />
        </div>

    </div>
</form>