@{
    Layout = "_en.layout";
}

<h4>An email has been send to you</h4>
<hr />
Go check your box an click the link in the message to get a new password.<br /><br />
if you don't received any mail, check your spam folder.
<br /><br />
<div class="row">
    @Html.ActionLink("Back to connection screen", "Login", "Account", null, new { @class = "btn btn-lg btn-primary btn-block" })
</div>