@model DaOAuthV2.Gui.Front.Models.NewPasswordModel

@{
    Layout = "_en.layout";
}

@await Html.PartialAsync("_en.modelErrors")

<h1>Create new password</h1>
<hr />


<form asp-action="NewPassword" id="rsForm" method="post">
    <div class="row">
        <div class="col">
            <h3>Type your new password</h3>

            @Html.HiddenFor(m => m.Token)

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">New password</label>
                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label asp-for="NewPasswordRepeat" class="control-label">Repeat new password</label>
                @Html.PasswordFor(model => model.NewPasswordRepeat, new { @class = "form-control" })
            </div>

        </div>
        <div class="w-100"></div>
        <br />
        <div class="col-12">
            <input id="putForm" type="submit" value="Submit" class="btn btn-lg btn-primary btn-block" />
        </div>

    </div>
</form>