@{
    Layout = "_fr.layout";
}

<h4>Your account is created</h4>
<hr />
<div class="row">
    @Html.ActionLink("Continue", "Dashboard", "Home", null, new { @class= "btn btn-lg btn-primary btn-block" })
</div>