@{
    Layout = "_fr.layout";
}

<h4>Your account is created</h4>
<hr />
You should have received an email.<br />
Go check your box an click the link in the message to validate your account.<br /><br />
if you don't have any mail, check your spam folder.
<br /><br />
<div class="row">
    @Html.ActionLink("Continue", "Dashboard", "Home", null, new { @class = "btn btn-lg btn-primary btn-block" })
</div>