@{
    Layout = "_fr.layout";
}

<h4>Un mail vous a été envoyé</h4>
<hr />
Vérifiez votre boite au lettre et cliquez sur le lien pour définir un nouveau mot de passe<br /><br />
Si vous ne voyez pas de mail, vérifier votre dossier de spams.
<br /><br />
<div class="row">
    @Html.ActionLink("Retour à l'écran de connexion", "Login", "Account", null, new { @class = "btn btn-lg btn-primary btn-block" })
</div>