@model DaOAuthV2.Gui.Front.Models.AskNewPasswordModel

@{
    Layout = "_fr.layout";
}

@await Html.PartialAsync("_fr.modelErrors")

<h1>Mot de passe perdu</h1>
<hr />


<form asp-action="AskNewPassword" id="rsForm" method="post">
    <div class="row">
        <div class="col">
            <h3>Veuillez saisir votre adresse email</h3>
            Si cette dernière est connue de l'application, un email vous sera envoyé

            <div class="form-group">
                <label asp-for="OldPassword" class="control-label">Adresse email</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            </div>

        </div>
        <div class="w-100"></div>
        <br />

        <div class="col-12">
            <input id="putForm" type="submit" value="Valider" class="btn btn-lg btn-primary btn-block" />
        </div>

    </div>
</form>