@{
    Layout = "_fr.layout";
}

<h4>Vote mot de pass a été mis à jour</h4>
<hr />
<br /><br />
<div class="row">
    @Html.ActionLink("Continuer", "Dashboard", "Home", null, new { @class = "btn btn-lg btn-primary btn-block" })
</div>