@{
    Layout = "_fr.layout";
}

<h4>Votre compte a été créé avec succès</h4>
<hr />
Vous avez du recevoir un email<br />
Vérifiez votre boite au lettre et cliquez sur le lien pour valider votre compte.<br /><br />
Si vous ne voyez pas de mail, vérifier votre dossier de spams.
<br /><br />
<div class="row">
    @Html.ActionLink("Continuer", "Dashboard", "Home", null, new { @class = "btn btn-lg btn-primary btn-block" })
</div>