@{
    Layout = "_fr.layout";
}

<h4>Votre compte a été créé avec succès</h4>
<hr />
<div class="row">
    @Html.ActionLink("Continuer", "Dashboard", "Home", null, new { @class= "btn btn-lg btn-primary btn-block" })
</div>