@{
    Layout = "_fr.layout";
}

<h4>Votre mot de passe a été défini</h4>
<hr />
<br /><br />
<div class="row">
    @Html.ActionLink("Page de connexion", "Login", "Account", null, new { @class = "btn btn-lg btn-primary btn-block" })
</div>