<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DaOAuth</title>
    @await Html.PartialAsync("_css")
    @RenderSection("Css", required: false)
</head>
<body>
    @RenderBody()

    @await Html.PartialAsync("_scripts")
</body>
</html>
