@{
    Layout = "_fr.layout";
}

<a href="@Url.Action("List", "Client")" class="btn btn-sq-lg btn-blue">
    Clients<br />
    <span id="clientCount"></span>
</a>
&nbsp;
<a href="@Url.Action("Edit", "Account")" class="btn btn-sq-lg btn-blue">
    Mon<br />Compte
</a>

@section PageScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $.get("/fr/Home/GetClientNumberAsync", function (data, status) {
                $('#clientCount').html(data);
            });
        });
    </script>
}