@{
    Layout = "_fr.layout";
}

<h2>Index g</h2>

@Html.ActionLink("Logout", "Logout", "Account");

@Html.ActionLink("vdvdvd", "Dashboard", "Home");

@section PageScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $.get("/fr/Home/GetClientNumberAsync", function (data, status) {
                alert("Data: " + data + "\nStatus: " + status);
            });
        });
    </script>
}